In [1]:
# define main function to print out something
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

# call function main 
main()

1
2
3
4
5
6
7
8
9

In [3]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

In [5]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

In [6]:
value=10
variable_name = value

In [7]:
message = 'This is a string in Python'
message = "This is also a string"

In [8]:
message = "It's a string"

In [9]:
message = '"Beautiful is better than ugly.". Said Tim Peters'

In [10]:
message = 'It\'s also a valid string'

In [11]:
message = r'C:\python\bin'

In [12]:
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [13]:
name = 'John'
message = 'Hi'

In [14]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [16]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [17]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [18]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

In [19]:
str = "Python String"
print(str[-1])  # g
print(str[-2])  # n

g
n

In [20]:
str = "Python String"
str_len = len(str)
print(str_len)

13

In [21]:
str = "Python String"
print(str[0:2])

Py

In [23]:
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

In [25]:
20 + 10

30

In [26]:
20 - 10

10

In [27]:
20 * 10

200

In [28]:
20 / 10

2.0

In [29]:
3**3

27

In [30]:
20 / (10 + 10)

1.0

In [31]:
0.5 + 0.5

1.0

In [32]:
0.5 - 0.5

0.0

In [33]:
0.5 / 0.5

1.0

In [34]:
0.5 * 0.5

0.25

In [35]:
20 / 10

2.0

In [36]:
1 + 2.0

3.0

In [37]:
0.1 + 0.2

0.30000000000000004

In [38]:
count = 10000000000

In [39]:
count = 10_000_000_000

In [40]:
count = 10_000_000_000
print(count)

10000000000

In [41]:
is_active = True
is_admin = False

In [42]:
20 > 10

True

In [43]:
20 < 10

False

In [44]:
'a' < 'b'

True

In [45]:
'a' > 'b'

False

In [46]:
bool('Hi')

True

In [47]:
bool('')

False

In [48]:
bool(100)

True

In [49]:
bool(0)

False

In [50]:
FILE_SIZE_LIMIT = 2000

In [53]:
# increase price by 5%
price=100
price = price * 1.05
print(price)

105.0

In [55]:
salary=100
salary = salary * 1.02   # increase salary by 2%
print(salary)

102.0

In [57]:
def quicksort():
    """ sort the list using quicksort algorithm """
    ...

In [58]:
def increase(salary, percentage, rating):
    """ increase salary base on rating and percentage
    rating 1 - 2 no increase
    rating 3 - 4 increase 5%
    rating 4 - 6 increase 10%
    """

In [3]:
value = input('Enter a value:')
print(value)

Manoj

In [4]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = price * tax / 100

print(f'The tax amount price is ${tax_amount}')

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100
print(f'The tax amount is ${tax_amount}')

The tax amount is $11.31

In [6]:
>>> type(100)
<class 'int'>
>>> type(2.0)
<class 'float'>
>>> type('Hello')
<class 'str'>
>>> type(True)
<class 'bool'>

SyntaxError: invalid syntax (1776358191.py, line 2)

In [7]:
print(type(100))    # Output: <class 'int'>
print(type(2.0))    # Output: <class 'float'>
print(type('Hello')) # Output: <class 'str'>
print(type(True))   # Output: <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
# Less than (<) operator examples
print(10 < 20)    # True
print(30 < 20)    # False

# Less than (<) operator with strings
print('apple' < 'orange')    # True
print('banana' < 'apple')    # False

# Less than (<) operator with variables
x = 10
y = 20
print(x < y)    # True
print(y < x)    # False


# Less than or equal to (<=) operator examples
print(20 <= 20)    # True
print(10 <= 20)    # True
print(30 <= 30)    # True

# Less than or equal to (<=) operator with variables
x = 10
y = 20
print(x <= y)    # True
print(y <= x)    # False


# Greater than (>) operator examples
print(20 > 10)    # True
print(20 > 20)    # False
print(10 > 20)    # False

# Greater than (>) operator with strings
print('apple' > 'orange')    # False
print('orange' > 'apple')    # True


# Greater than or equal to (>=) operator examples
print(20 >= 10)    # True
print(20 >= 20)    # True
print(10 >= 20)    # False

# Greater than or equal to (>=) operator with strings
print('apple' >= 'apple')    # True
print('apple' >= 'orange')    # False
print('orange' >= 'apple')    # True


# Equal to (==) operator examples
print(20 == 10)    # False
print(20 == 20)    # True

# Equal to (==) operator with strings
print('apple' == 'apple')    # True
print('apple' == 'orange')    # False


# Not equal to (!=) operator examples
print(20 != 20)    # False
print(20 != 10)    # True

# Not equal to (!=) operator with strings
print('apple' != 'apple')    # False
print('apple' != 'orange')    # True

True
False
True
False
True
False
True
True
True
True
False
True
False
False
False
True
True
True
False
True
False
True
False
True
True
False
False
True
False
True

In [9]:
# Logical AND operator
price = 9.99
print(price > 9 and price < 10)  # True: Both conditions are True
print(price > 10 and price < 20)  # False: The first condition is False

# Logical OR operator
print(price > 10 or price < 20)  # True: Second condition is True
print(price > 10 or price < 5)   # False: Both conditions are False

# Logical NOT operator
print(not price > 10)  # True: Because price > 10 is False, not makes it True

# Combining NOT with AND
print(not (price > 5 and price < 10))  # False: Because price is between 5 and 10

# Logical precedence examples
a = True
b = False
c = True
d = False

# Example of precedence with AND, OR, and NOT
print(a or b and c)  # True: b and c is False, so it evaluates to a or False -> True
print(a and b or c and d)  # True: (a and b) is False, (c and d) is False, so False or False -> False
print(a and b and c or d)  # False: a and b is False, d is False, so False or False -> False
print(not a and b or c)    # True: (not a) is False, False and b is False, c is True, so False or True -> True

True
False
True
False
True
False
True
False
False
True

In [10]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

You're eligible to vote.

In [11]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
    print("Let's go and vote.")

You're eligible to vote.
Let's go and vote.

In [12]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
print("Let's go and vote.")

Let's go and vote.

In [13]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

You're not eligible to vote.

In [14]:
age = input('Enter your age:')

# convert the string to int
your_age = int(age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $18 for the ticket

In [15]:
age = input('Enter your age:')

if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

print(f"The ticket price is {ticket_price}")

The ticket price is 20

In [16]:
if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

In [17]:
ticket_price = 20 if int(age) >= 18 else 5

In [18]:
age = input('Enter your age:')

ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is {ticket_price}")

The ticket price is 5

In [19]:
for index in range(5):
    print(index)

0
1
2
3
4

In [20]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [21]:
for index in range(1, 6):
    print(index)

1
2
3
4
5

In [22]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

In [23]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

In [24]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [25]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

Echo: go
Echo: quit

In [26]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [27]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [31]:
x=4
for index in range(n):
    if x>10:
       continue
    # more code here

In [32]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

In [33]:
def greet():
    """ Display a greeting to users """
    print('Hi')

In [34]:
def greet(name):
    print(f"Hi {name}")

In [35]:
first_name = 'Jane'
greet(first_name)

Hi Jane

In [36]:
greeting = greet('John')

Hi John

In [37]:
print(greeting)

None

In [38]:
def sum(a, b):
    return a + b


total = sum(10,20)
print(total)

30

In [39]:
total = sum(10, 20)

In [40]:
print(total)

30

In [42]:
def function_name(param1, param2=value2, param3=value3):

SyntaxError: incomplete input (3771893771.py, line 1)

In [43]:
def greet(name, message='Hi'):
    return f"{message} {name}"

In [44]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John', 'Hello')
print(greeting)

Hello John

In [45]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John')
print(greeting)

Hi John

In [46]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"

In [47]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [48]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [49]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there

In [50]:
def get_net_price(price, discount):
    return price * (1-discount)

In [51]:
net_price = get_net_price(100, 0.1)
print(net_price)

90.0

In [52]:
net_price = get_net_price(0.1, 100)
print(net_price)

-9.9

In [53]:
net_price = get_net_price(price=100, discount=0.1)

In [54]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

In [55]:
net_price = get_net_price(100)
print(net_price)

102.0

In [56]:
net_price = get_net_price(100, 0.06)

In [57]:
net_price = get_net_price(price=100, discount=0.06)
print(net_price)

101.0

In [58]:
net_price = get_net_price(100, discount=0.06)
print(net_price)

101.0

In [59]:
net_price = get_net_price(100, tax=0.08, 0.06)

SyntaxError: positional argument follows keyword argument (1414197187.py, line 1)

In [60]:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

In [61]:
def count_down(start):
    """ Count down from a number  """
    print(start)
    count_down(start-1)


count_down(3)

:

In [1]:
def count_down(start):
    """ Count down from a number  """
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

In [2]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [3]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

In [4]:
def sum(n):
    return n + sum(n-1) if n > 0 else 0


result = sum(100)
print(result)

5050

In [5]:
def anonymous(parameters):
    return expression

In [6]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

In [7]:
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

In [8]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name) # John Doe

full_name = get_full_name('John', 'Doe', last_first)
print(full_name) #  Doe, John

John Doe
Doe, John

In [9]:
lambda first_name,last_name: f"{first_name} {last_name}"

In [10]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [11]:
def times(n):
    return lambda x: x * n

In [12]:
result = double(2)
print(result)

result = double(3)
print(result)

NameError: name 'double' is not defined

In [13]:
triple = times(3)

print(triple(2))  # 6
print(triple(3))  # 9

6
9

In [14]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [15]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

In [18]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

In [19]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

In [20]:
empty_list = []

In [21]:
todo_list = ['Learn Python List','How to manage List elements']

In [22]:
numbers = [1, 3, 2, 7, 9, 4]

In [23]:
print(numbers)

[1, 3, 2, 7, 9, 4]

In [24]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [25]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

In [26]:
list[index]

NameError: name 'index' is not defined

In [27]:
numbers = [1, 3, 2, 7, 9, 4]

print(numbers[0])

1

In [28]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[1])

3

In [29]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

In [31]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [32]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)

[1, 30, 2, 7, 9, 4]

In [33]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

In [34]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [35]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 100)

print(numbers)

[1, 3, 100, 2, 7, 9, 4]

In [36]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

[3, 2, 7, 9, 4]

In [37]:
numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

4
[1, 3, 2, 7, 9]

In [38]:
numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

3
[1, 2, 7, 9, 4]

In [39]:
numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 4, 9]

In [40]:
rgb = ('red', 'green', 'blue')

In [41]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [42]:
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow'

TypeError: 'tuple' object does not support item assignment

In [43]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [44]:
numbers = (3)
print(type(numbers))

<class 'int'>

In [45]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

In [48]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [49]:
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [50]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [51]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [52]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

In [53]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

In [54]:
def sort_key(company):
    return company[2]

In [55]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]


# define a sort key
def sort_key(company):
    return company[2]



# sort the companies by revenue
companies.sort(key=sort_key, reverse=True)

# show the sorted companies
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [56]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

In [57]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [58]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)

print(sorted_guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [59]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

In [60]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores, reverse=True)

print(sorted_scores)

[9, 8, 7, 6, 5, 4]

In [61]:
colors = ['red', 'blue', 'green']

In [62]:
red = colors[0]
blue = colors[1]
green = colors[2]

In [63]:
red, blue, green = colors

In [64]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [65]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

In [66]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [67]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [68]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [69]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

In [71]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [72]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Osaka')
print(result)

ValueError: 'Osaka' is not in list

In [73]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

In [74]:
for index in range(3):
    print(index)

0
1
2

In [75]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [76]:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

In [77]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

In [78]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [79]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [80]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an excpetion
color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

In [81]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

In [82]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [83]:
def double(bonus):
    return bonus * 2


bonuses = [100, 200, 300]

iterator = map(double, bonuses)

In [84]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)

In [85]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [86]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [87]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

In [88]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

In [89]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [90]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [91]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

In [92]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [93]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [94]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

In [95]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [96]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [97]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [98]:
squares = [number**2 for number in numbers]

In [100]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [101]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [104]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

In [105]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [106]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person['ssn']

KeyError: 'ssn'

In [107]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [108]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

In [109]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

In [111]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [112]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [113]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [114]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [115]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

In [116]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

In [117]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [118]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [119]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [120]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [121]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [122]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Problem solving', 'Critical Thinking'}

In [123]:
characters = set('letter')
print(characters)

{'r', 'l', 't', 'e'}

In [124]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [125]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [126]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Problem solving', 'Software design', 'Python programming'}

In [127]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')

In [129]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

In [130]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Problem solving

In [132]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

In [133]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

In [134]:
skills.add('Django')

AttributeError: 'frozenset' object has no attribute 'add'

In [135]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Problem solving
Software design
Python programming

In [136]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

0.Problem solving
1.Software design
2.Python programming

In [137]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Problem solving
2.Software design
3.Python programming

In [138]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'pandas', 'numpy', 'django'}

In [139]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'pandas', 'numpy', 'django'}

In [140]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'pandas', 'numpy', 'django'}

In [141]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'pandas', 'django'}

In [142]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Python', 'Java'}

In [144]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Python', 'Java'}

In [145]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

In [146]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates | ranks

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [147]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'C++', 'Java'}

In [148]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'C++', 'Java'}

In [149]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [150]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores

print(numbers)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [151]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [152]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

In [153]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

{'Python'}

In [154]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

In [155]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [156]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores - numbers

print(new_scores)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [157]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

In [158]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

In [159]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

In [160]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores ^ ratings

print(new_set)

TypeError: unsupported operand type(s) for ^: 'set' and 'list'

In [161]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [162]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

In [163]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [164]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

In [165]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [166]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

In [167]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [168]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

In [169]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [170]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [171]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

In [172]:
current = 1
if current < 10
current += 1

SyntaxError: expected ':' (1254883215.py, line 2)

In [173]:
# get input net sales
print('Enter the net sales for')

previous = float(input('- Prior period:'))
current = float(input('- Current period:'))

# calculate the change in percentage
change = (current - previous) * 100 / previous

# show the result
if change > 0:
    result = f'Sales increase {abs(change)}%'
else:
    result = f'Sales decrease {abs(change)}%'

print(result)

Enter the net sales for
Sales increase 32.916519901373725%

In [174]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Sales decrease 99.06142142706206%

In [175]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Error! Please enter a number for net sales.

In [177]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for

ZeroDivisionError: float division by zero

In [179]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')

Enter the net sales for
Error! The prior net sales cannot be zero.

In [182]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
Error! The prior net sales cannot be zero.

In [183]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

division by zero
Finishing up.

In [184]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

In [185]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2

In [186]:
def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'

In [187]:
def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print('Error! please enter a valid number.')
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

In [188]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Your body mass index is 7.7
This is considered underweight!

In [1]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

Error!  does not exist.
Press Ctrl-C to exit.
20
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
30
Press Ctrl-C to exit.
Error! 30 does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error! jfhfh\ does not exist.
Press Ctrl-C to exit.

In [2]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')